process-graph
.DS_Store
hall-sample-lab.png
Masque Exposure Test 1250x625.png
Masque-4-Wires-rings.png
Masque-Exposure-Test.bmp
Masque-Hall.bmp
micron-ring.png
nanoafm.png
Nano-Ring.png
nano-rings.png
pattern-wires.png
photo_2022-09-10 11.08.54.jpeg
photo_2022-09-10 11.08.57.jpeg
photo_2022-09-10 11.08.59.jpeg
photo_2022-09-10 11.09.00.jpeg
photo_2022-09-10 11.09.01.jpeg
photo_2022-09-10 11.09.03.jpeg
photo_2022-09-10 11.09.05.jpeg
photo_2022-09-10 15.48.24.jpeg
photo_2022-09-10 15.48.27.jpeg
resin-ring.png
Ring 3-after contact.jpeg
ring-AFM.jpg
RingNegatif_SiO2_Si_100nm.tif
RingNegatif_SiO2_Si_200nm.tif
ring-pcco.png
rings-afm.png
ring-sample-PCCO.jpeg
ring-si.png
Screen Shot 2022-09-10 at 4.06.26 PM.png
Screen Shot 2022-09-10 at 4.19.28 PM.png
Screen Shot 2022-09-10 at 4.22.03 PM.png
Screen Shot 2022-09-10 at 4.51.03 PM.png
Screen Shot 2022-09-10 at 4.51.47 PM.png
Screen Shot 2022-09-10 at 4.52.34 PM.png
Screen Shot 2022-09-10 at 10.49.05 AM.png
SSE.png
SSE-graph.png
SSE-milling.png
standard.png
third-ring-SEM.png
Wire-Ring-micron.png
wires.png